<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="redes-sociais">
                    <li>
                        <a href="https://github.com/jonathanhenriques" target="_blank" class="iconegithub">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/jonathanhenriques" target="_blank" class="iconeinstagram">
                            <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/jonathan-henrique-" target="_blank" class="iconelinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light" >© 2022 Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/jonathanhenriques">jonathan henrques</a>
    </div>
</footer>