#imagem-bg {
     background-image: url('https://t2.tudocdn.net/243169?w=1920');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}